.arrowContainer {
  display: flex;
}

.arrow {
  position: relative;
  height: 26px;
  padding: 2px 6px;
  display: inline-block;
}

.user {
  background-color: var(--gray);
}

.dir {
  background-color: var(--blue);
}

.dir p {
  padding-left: 13px;
}

.dir.arrow::before,
.dir.arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.dir.arrow::before {
  top: 0;
  left: 0px;
  border-width: 13px 12px 13px 0;
  border-color: transparent var(--gray) transparent transparent;
  transform: rotate(180deg);
}

.dir.arrow::after {
  top: 0;
  right: -12px;
  border-width: 13px 0 13px 12px;
  border-color: transparent transparent transparent var(--blue);
}

input {
  background-color: transparent;
  font-family: "Fira Code", serif;
  margin-left: 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  outline: none;
}
