.character {
    /* border: 1px solid #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.character p {
    margin: 0;
    font-size: 60px;
}

.moveContainer {
    width: 100%;
    margin: 0 10px;
    height: calc(100vh - 95px);
    border: 1px solid #ffffff;
    /* background: url("/bg.png") no-repeat center; */
}

.moveContainer:focus {
    outline: none;
}