:root {
  --background: #ffffff;
  --foreground: #101421;
  --blue: #02A1FA;
  --gray: #2E2E2E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101421;
    --foreground: #ededed;
    --blue: #02A1FA;
    --gray: #2E2E2E;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Fira Code", serif;
  padding: 10px;
}

p {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

.commandLine {
  white-space: break-spaces;
  padding: 12px;
}

.input {
  background-color: transparent;
  font-family: "Fira Code", serif;
  margin-left: 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  outline: none;
}
